[network]
node_cidr       = "${E2E_CIDR}"
default_gateway = "${E2E_GATEWAY}"

[kubernetes.api]
addr = "${E2E_PREFIX}.100"

[gateways]
internal = "${E2E_PREFIX}.101"
dns      = "${E2E_PREFIX}.102"

[domain]
name = "e2e.example.com"

[dns]
provider = "none"

[repository]
url = "http://${E2E_GIT_HOST}:${E2E_GIT_PORT}/repo.git"

[talos]
schematic_id = "${E2E_SCHEMATIC}"

[valkey]
password = "dGVzdA=="

[authelia]
user = "test"
password_hash = "test"
session_secret = "dGVzdA=="
storage_encryption_key = "dGVzdA=="
jwt_secret = "dGVzdA=="
oidc_client_id = "opencloud"
oidc_client_secret = "test"
access = "public"

[opencloud]
admin_password = "test"
access = "public"

[woodpecker]
forge = "github"
admin = "test"
client = "test"
secret = "test"
access = "public"

[jellyfin]
access = "mesh"

[navidrome]
access = "mesh"

[longhorn]
access = "lan"
