---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opencloud-config
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "#{ opencloud.config_size }#"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opencloud-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "#{ opencloud.storage_size }#"
